*{
	margin: 0;
	padding: 0;
}

body{
	background: #fff;
	font-family: Shadow of the deads Over;
}

header{
	background: #ff0000;
	width: 100%;
	height: 100px;
	box-shadow: 0px 0px 30px #800000;
	border-bottom-style: solid;
	border-bottom-color: #585858;
	border-bottom-width: 5px;

}


#encabezado{
	width: 80%;
	height: 30px;
	margin: auto;
	border: 0px solid #000;
}

#logo{
	width: 30%;
	height: auto; overflow: hidden;
	float: left;
	color: #000;
	font-size: 40px;
	margin-top: 30px;

}

#menu{
	width: 60%;
	height: 30px;
	float: right;
	border: 0px solid  black; 
	margin-top: 55px;
}

#menu ul{}

#menu ul li{
	list-style: none;
	display: inline-block;
	margin-top: 10px;
}

#menu ul li .enlace{
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 20px;

}

#menu ul li .enlace-hover{
	background: #585858;
	color: #fff;
	border-radius: 5px 5px 0px, 0px;
}

#menu ul li .active-menu{
	background: #585858;
	color: #fff;
	border-radius: 5px 5px 0px, 0px;
	padding: 10px;
}

/*-----------contenido principal--------*/
#principal{
	width: 80%;
	height: auto; overflow: hidden;
	border: 1px solid;
	margin: 10px auto;
}

#publicaciones{
	width: 70%;
	height: auto; overflow: hidden;
	border: 1px solid black;
	margin-top: 10px auto;
}

.post{
	width: 96%;
	height: auto; overflow: hidden;
	padding: 7px;
	background: #fdfdfd;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #a9a9a9;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #ccc;
	margin-bottom: 25px;


}

.enlace-post{
	text-decoration: none;

}

#publicaciones a .titulo-post{
	color: #696969;
	font-size: 22px;
	font-family: 'calibri light';

}

#publicaciones a .titulo-post:hover{
	text-decoration: underline;
}

#publicaciones .img-post{
	width: 150px;
	height: 100px;
	float: left;
	margin: 7px 7px 7px 0px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#publicaciones .datos-publicaciones{
	font-family: 'calibri light';
	color: #0489b1;
}

#publicaciones .parrafo-post{
	font-family: 'calibri light';
	font-size: 16px;
	color: #696969;
	padding: 5px;
}


#publicaciones .leer-mas{
	background: #008b8b;
	color: #fff;
	border: 0px;
	padding: 5px;
	text-decoration: none;
	margin-top: 20px;
	border-radius: 5px;

}

#publicaciones .num-comentarios{
	background: #008b8b;
	color: #fff;
	border: 0px;
	border-radius: 5px;
	text-decoration: none;
	padding: 5px;
}